.movie-card {
    display: flex;
    height: 260px;
    margin: 10px 0px;
    box-shadow: 0 0px 13px -5px;
}

.img {
    width: 200px;
    height: 100%;
}

.movie-header {
    display: flex;
    padding: 20px 20px 0px 20px;
    height: 30%;
}

.movie-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
    color: white;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
}

.movie-desc {
    font-size: 15px;
    color: #948989;
    padding: 5px 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.more-info {
    position: absolute;
    bottom: 10px;
    margin-left: 20px;
    height: 20%;
}

.release-date {
    font-size: 13px;
    color: #5c5656;
}

@media only screen and (max-width: 600px) {
    .movie-card {
        height: 230px;
    }
    .img {
        width: 140px;
        height: 100%;
    }
    .movie-title {
        font-size: 15px;
    }
    .movie-header {
        padding: 5px 20px 0px 20px;
        height: 30%;
    }
}