.poster-img {
    width: 100%;
    height: 100%;
    padding: 15% 10px;
}

.poster-img-ph {
    min-height: 450px;
    width: 100%;
    margin: 15% 10px;
    background-color: #fbfbfb17;
}

.details-container {
    padding: 5% 10px;
}

.title-container {
    display: flex;
}

.title {
    font-size: 35px;
    font-weight: 500;
    color: white;
    margin-left: 20px;
}

.overview-ph {
    height: 60px;
    width: 100%;
    background-color: #fbfbfb17;
}

.overview-ph {
    height: 15px;
    width: 100%;
    margin-bottom: 10px;
}
.year-ph {
    height: 60px;
    width: 100%;
    background-color: #fbfbfb17;
}

.year {
    font-size: 25px;
    font-weight: 500;
    color: rgb(141, 124, 124);
    padding: 10px;
}

.btns {
    display: flex;
    margin-left: 20px;
}

.rating-text {
    color: lavenderblush;
    font-size: 18px;
    padding: 20px 10px;
}

.overview-title {
    margin-top: 50px;
    color: aliceblue;
    font-size: 20px;
    margin-left: 20px;
}

.overview {
    color: dimgray;
    margin-left: 20px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.CircularProgressbar {
    width: 50px !important;
}

.tagline {
    margin-left: 20px;
    font-size: 18px;
    margin-top: -5px;
    color: dimgray;
}

.cast-title {
    font-size: 25px;
    color: white;
    margin-top: 10%;
}

.hr-line {
    width: 100%;
    height: 2px;
    background-color: dimgray;
}

a {
    font-size: 13px;
}

.cast-img {
    width: 100%;
    height: auto;
}

.cast-card {
    margin-top: 20px;
    background-color: black !important;
}

.cast-name {
    margin-bottom: 0px;
    font-size: 18px;
    margin-top: 10px;
    color: white;
}

.cast-character {
    color: dimgray;
}

.cast-btn {
    text-decoration: none;
    margin-top: 20px;
    font-size: 20px;
    color: forestgreen;
}

.details-container1 {
    margin-top: 20%;
    margin-left: 15px;
}

.col2-heading {
    font-size: 20px;
    margin-top: 20px;
    color: white;
}

.value {
    font-size: 16px;
    font-weight: 300;
    color: darkgray;
}

.looped-values {
    margin-bottom: 0px;
    color: gray;
    font-size: 15px;
}

.trailer-btn {
    background-color: transparent;
    border: none;
    font-size: 16px;
    margin-top: -5px;
    color: white;
}

.trailer-btn:focus {
    background-color: transparent;
    border: none;
    font-size: 16px;
    margin-top: -5px;
    color: white;
    outline: none;
}

.hr-card {
    margin-top: 20px;
    background-color: black;
    height: 250px;
    min-width: 100%;
    min-height: 200px;
    display: flex;
    overflow-x: auto
}

.hr-card::-webkit-scrollbar {
    display: none;
}

.card-content {
    background-color: #e74c3c;
    min-width: 200px;
    margin: 5px;
}

.backdrop-img {
    height: 100%;
    width: 70%;
    padding-right: 5px;
}

.poster-rec-img {
    height: 100%;
    width: 200px;
    padding-right: 5px;
}

/* .poster-rec-img:hover {
    background-color: gray;
} */

/* .poster-rec-img:hover .edit {
    display: block;
} */

.profile-pic {
    position: relative;
    display: inline-block;
}

.profile-pic:hover .edit {
    display: block;
}

.edit {
    width: 98%;
    height: 100%;
    background-color: rgba(12, 12, 12, 0.89);
    padding: 25% 5%;
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
}

.edit .txt {
    color: white;
    font-size: 18px;
    text-align: center;
}

.suggest-btn {
    position: absolute !important;
    bottom: 20% !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
}

.review-card {
    -moz-box-shadow: -4px 2px 8px #00090a;
    -webkit-box-shadow: -4px 2px 8px #00090a;
    box-shadow: 0px 1px 15px #252525;
    margin-top: 20px;
    padding: 10px;
}

.review-author {
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
    margin-left: 10px;
}

.review-content {
    color: #6c757d;
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    .hr-card {
        margin-top: 20px;
        height: 100px;
        background-color: black;
        min-width: 100%;
        min-height: 150px;
        display: flex;
        overflow-x: auto
    }
    .backdrop-img {
        height: 100%;
        width: 80%;
        padding-right: 5px;
    }
}